:root {
  --active-color: #2196f3;
  --second-background: #2f303a;
  --third-background: #f5f4fa;
  --main-font-color: #757575;
  --second-font-color: #212121;
  --button-background: #f5f4fa;
}
body {
  font-family: "Roboto", sans-serif, "Raleway", sans-serif;
  color: var(--second-font-color);
  box-sizing: border-box;
  width: 1200px;
}
li {
  list-style: none;
}

/* ====== SAME COMPONENTS ====== */

.web-color {
  color: var(--active-color);
}
.company-name {
  font-family: "Raleway", sans-serif;
  font-weight: 700px;
  font-size: 26px;
  line-height: 30.52px;
  color: #000000;
}
.company-name-link {
  text-decoration: none;
}
.link {
  cursor: pointer;
}
.container {
  width: 1200px;
}
.logo {
  width: 145px;
  height: 31px;
}
.section {
  padding: 94px 0;
}
/* ====== END SAME COMPONENTS ====== */

/* ====== HEADER ====== */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.header-list-item {
  text-decoration: none;
  font-style: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 1.5px;
  padding-left: 10px;
}
.header-list-item-link {
  color: var(--second-font-color);
  text-decoration: none;
}
.header-list-item-link:hover,
.header-list-item-link:focus {
  color: var(--active-color);
}
.contact-list-item {
  display: inline-block;
  text-decoration: none;
  font-style: 500;
  font-size: 14px;
  line-height: 1.143;
  color: var(--main-font-color);
  letter-spacing: 1.5px;
  justify-content: space-between;
  padding-left: 10px;
}
.contact-list-item-mail {
  color: var(--main-font-color);
  text-decoration: none;
}
.contact-list-item-mail:hover,
.contact-list-item-mail:focus {
  color: var(--active-color);
}
.contact-list-item-phone {
  color: var(--main-font-color);
  text-decoration: none;
}
.header-list .header-list-item {
  height: 16px;
  display: inline-block;
}

/* ====== END HEADER ====== */

/* ====== MAIN SECTION ====== */
.main-section {
  background-color: var(--second-background);
  background-image: url('../images/header-background-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  align-items: center;
}
.main-section-title {
  color: #ffffff;
  width: 450px;
  height: 120px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
  margin: 0 auto;
  letter-spacing: 0.06em
}
.main-section-btn{
  background-color: var(--active-color);
  border: none;
  display: inline-block;

  
}
.first-page-button .link {
  display: block;
  color: #ffffff;
  background-color: var(--active-color);
  font-weight: 700;
  border: none;
  letter-spacing: 2px;
  font-size: inherit;
  border-radius: 4px;
  margin: 70px 50%;
  width: 200px;
  height: 50px;
  align-items: center;
}
/* ====== END MAIN SECTION ====== */

/* ====== ASSETS SECTION ====== */
.assets-section-list {
  padding: 94px 40px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
.assets-section-list-header {
  font-style: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 1.5px;
  display: flex;
  margin-left: 0;
  padding: 0 10px 10px 0px;
}
.assets-section-list-description {
  font-style: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 1.5px;
  color: var(--main-font-color);
  display: flex;
  padding: 0 10px 10px 0px;
}
.assets-section-list-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
/* ====== END ASSETS SECTION ====== */

/* ====== SERVICE SECTION ====== */
.service-header {
  font-style: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  padding-bottom: 50px;
}
.service {
  padding: 50px 0;
}
.service-list {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0px;
}
/* ====== END SERVICE SECTION ====== */

/* ====== TEAM SECTION ====== */
.our-team {
  background-color: var(--third-background);
  padding: 94px 0px;
}
.our-team-list {
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0px;
}
.our-team-header {
  font-style: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  padding-bottom: 40px;
}
.worker-name {
  font-style: 500;
  font-size: 16px;
  line-height: 1.188;
}
.job-name {
  font-style: 400;
  font-size: 16px;
  line-height: 1.188;
  color: var(--main-font-color);
  padding-top: 10px;
}
.our-team-list-item {
  background-color: #ffffff;
}
.our-team-list-item-figcaption {
  text-align: center;
  padding: 30px;
}
/* ====== END TEAM SECTION ====== */

/* ====== FOOTER SECTION ====== */

.footer-studio {
  color: #ffffff;
}
.footer {
  padding: 70px;
}
.footer-section {
  background-color: var(--second-background);
  height: 252px;
}

.footer-section-address-description {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 1.5px;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer-section-address-mail,
.footer-section-address-phone {
  font-weight: 400;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 1.5px;
  background-color: var(--second-background);
  padding-top: 10px;
}
.footer-section-address-mail:hover,
.footer-section-address-mail:focus {
  color: var(--active-color);
}

/* ====== END FOOTER SECTION ====== */

/* =============== PORTFOLIO PAGE =============== */

/* ====== MENU SECTION ====== */
.menu {
  display: flex;
  padding-inline-start: 0px;
  justify-content: center;
  gap: 40px;
}
.button-list {
  margin: 0;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: var(--button-background);
  font-weight: medium;
  font-size: 16px;
  line-height: 1.625;
  color: var(--second-font-color);
  letter-spacing: 1.5px;
  border: none;
  border-radius: 4px;
}
.active-btn:hover,
.active-btn:focus {
  background-color: var(--active-color);
  color: #ffffff;
}
/* ====== END MENU SECTION ====== */

/* ====== CATEGORIES SECTION ====== */
.categories-list {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0px;
}

/* .categories {
}
.categories-list {
}
.categories-list-item {
}
.categories-list-item-figure {
}
.categories-list-item-figure-img {
}
.categories-list-item-figcaption {
} */
.category-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.444;
  letter-spacing: 1.5px;
}
.category-description {
  font-size: 16px;
  line-height: 1.85;
  color: #757575;
  letter-spacing: 1px;
}

/* ====== END CATEGORIES SECTION ====== */
